body {
   background-color: rgb(207, 207, 252);
}




#container {
    display: flex;
    flex-wrap: wrap;
    height: 975px;
    width: 975px;
    border: solid black 2px;
    margin: 0;
    padding: 0;
    gap: 1px;
    align-content: flex-start;
    overflow: hidden;

}

 
.square {
    
    height: 60px;
    width: 60px;
    background-color: red;
    transition: opacity 1ms;
    opacity: 0;
    min-width: 0;
}

.square:hover {
    opacity: 1;
}

